%div{:'ng-repeat' => 'washroom in washrooms'}
  %div{:'ng-show' => 'isOpen(washroom)'}
    Washroom {{washroom.name}} is open
  %div{:'ng-show' => '!isOpen(washroom)'}
    Washroom {{washroom.name}} is closed
